.profile-picture {
    width: 300px;
    height: auto;
    cursor: pointer;
}

.profile-thumbnail {
    width: 300px;
}

.profile-social-icons {
    display: inline-block;
}

.profile-edit-image {
	display: none;
}

.edit-image {
	width:400px;
	height: 400px;
}